/*
- NOTE cascading style sheet:
can be overwritten at the bottom!
*/


/* BODY */


body {
  background: rgba(248, 248, 248, 0.5);
  color: #333;
  display: block;
  position: absolute;
  font-family: 'Inconsolata', serif;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  width: 100%;
}


/* HEADER */

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  text-align: left;
  font-size: 40px;
  border-bottom: 3px solid black;
}


header .mobile {
  display: none;
}

/* NAVIGATION */

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li{
  display: inline-flex;
  /* margin: 5px; */
  padding: 10px;
  padding-left: 100px;
  position: center;
  /* border-radius: 5px;
  border-style: solid;
  border-color: red; */
  /* top: 5px; */
}

@media screen and (max-width: 800px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: inline-block;
  }
  nav li {
    padding: 10px;
  }
}

header nav a {
  color: black;
  font-family: 'Inconsolata', serif;
}

/* LINKS */
a {
  color: rgb(255, 208, 158);
  text-decoration: none;
  font-weight: 400;
  /* background-color: red; */
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 3px;
}

/* HEADLINES */
h1, h2, strong {
  text-align: center;
  font-family: 'Inconsolata', serif;
  color: #333;
}


/* section */
section{
  /* background-color: green; */
  /* color: black; */
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.content {
  text-align: center;
  padding: 0px 15%;
  /* border-radius: 5px;
  border-style: solid;
  border-color: red; */
}

@media screen and (max-width: 800px){
  .content {
    padding: 0px 5%;
  }
}

/* FEATURES */

.features {
  /* background-color: red; */
  color: #222;
  padding: 20px;
  flex-wrap: wrap;
}

.features figure {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #333;

  /* border-radius: 5px;
  border-style: solid;
  border-color: black; */
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: #333 0 0 10px;
  width: 250px;
}



@media screen and (max-width: 310px){
  .features figure{
    width: 150px;
  }
  .features figure img {
    width: 150px;
  }
}


/* FOOTER */

footer{
  background-color: white;
  color: gray;
  font-size: 15px;
  height: 20px;
  padding: 5px 5px;
  text-align: center;
  border-top: 5px solid black;
}


/* MOBILE */

/* @media screen and (max-width: 800px) {
  .features{
    background: pink;
  }
}
@media screen and (max-width: 400px) {
  .features{
    background: red;
  }
} */
