/*
- NOTE cascading style sheet: can be overwritten at the bottom!
*/


/* BODY */

body{
  background:#FFFFF0;
  font-family: arial;
  position: absolute;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: -20px; */
  display: block;
}

/* HEADER */

header {
  background-color: black;
  /* background-image: url("../images/background.webp"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

header .mobile {
  display: none;
}

/* NAVIGATION */

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li{
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  /* border-radius: 5px;
  border-style: solid;
  border-color: white; */
  position: center;
  /* top: 5px; */
}

@media screen and (max-width: 950px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: inline-block;
  }
}

header nav a {
  color: white;
  font-family: didot;
}

header .logo a{
  background-image: url("../images/logo.png");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 63px;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: -5px;
}


/* LINKS */
a {
  color: rgb(255, 208, 158);
  text-decoration: none;
  /* background-color: red; */
}
a:hover {
  text-decoration: underline;
}

/* HEADLINES */
h1, h2{
  text-align: center;
}

/* section */
section{
  /* background-color: green; */
  /* color: black; */
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
}

/* FEATURES */

.features {
  /* background-color: red; */
  color: #222;
  padding: 20px;
  flex-wrap: wrap;
}

.features figure {
  width: 250px;
  padding: 10px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  /* text-decoration-style: dotted; */
  color: #333;

  /* border-style: solid;
  border-color: black; */
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: #333 0 0 10px;
  width: 250px;
}



@media screen and (max-width: 310px){
  .features figure{
    width: 150px;
  }
  .features figure img {
    width: 150px;
  }
}


/* FOOTER */

footer{
  background-color: black;
  color: gray;
  font-size: 15px;
  height: 20px;
  padding: 5px 5px;
  text-align: center;
}


/* MOBILE */

/* @media screen and (max-width: 800px) {
  .features{
    background: pink;
  }
}
@media screen and (max-width: 400px) {
  .features{
    background: red;
  }
} */
