/*
- NOTE cascading style sheet: can be overwritten at the bottom!
*/


/* BODY */


body{
  background: rgba(248, 248, 248, 0.5);
  font-family: 'Inconsolata', serif;
  position: absolute;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: -20px; */
  display: block;
}

/* HEADER */

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  /* background-image: url("../images/background.webp"); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* padding-top: 20px; */
  text-align: left;
  /* text-transform: uppercase; */
  font-size: 40px;
  border-bottom: 3px solid black;
}

header .mobile {
  display: none;
}

/* NAVIGATION */

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li{
  display: inline-flex;
  /* margin: 5px; */
  padding: 10px;
  padding-left: 100px;
  position: center;
  /* border-radius: 5px;
  border-style: solid;
  border-color: red; */
  /* top: 5px; */
}

@media screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }
  header .mobile {
    display: inline-block;
    /* font-size: 20px; */
  }
  nav li {
    padding: 10px;
  }
}

header nav a {
  color: black;
  font-family: 'Inconsolata', serif;
}

/* header .logo a{
  background-image: url("../images/logo.png");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 63px;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: -5px;
} */

/* .float-right {
  float: right;
  background-image: url("https://avatars1.githubusercontent.com/u/25147811?s=460&u=5c171f75caebb4e1fb5ee6e4f693b20ed95c7f4b&v=4g");
  background-size: 50px;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 6px;
  padding: 4px;
  text-indent: -999999px;
  box-shadow: #333 0 0 10px;
} */


/* LINKS */
a {
  color: rgb(255, 208, 158);
  text-decoration: none;
  /* background-color: red; */
}
a:hover {
  text-decoration: underline;
}

/* HEADLINES */
h1, h2{
  text-align: center;
  font-family: 'Inconsolata', serif;
}

/* .filter-container {
    background: rgba(239, 239, 239, .4);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
}

.filter-container .filter-link-container {
    width: 150px;
    text-align: center;
}

.filter-link-container {
    border-radius: 15px;
    color: #3352dd;
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 15px;
}

.filter-link-container:hover {
    opacity: .5;
} */

/* section */
section{
  /* background-color: green; */
  /* color: black; */
  /* padding: 10px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.content {
  text-align: center;
  padding: 0px 5%;
  border-radius: 5px;
  border-style: solid;
  border-color: red;
}

/* FEATURES */

.features {
  /* background-color: red; */
  color: #222;
  padding: 20px;
  flex-wrap: wrap;
}

.features figure {
  width: 250px;
  padding: 10px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: #333;

  /* border-style: solid;
  border-color: black; */
}

.features figure img {
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: #333 0 0 10px;
  width: 250px;
}



@media screen and (max-width: 310px){
  .features figure{
    width: 150px;
  }
  .features figure img {
    width: 150px;
  }
}


/* FOOTER */

footer{
  background-color: white;
  color: gray;
  font-size: 15px;
  height: 20px;
  padding: 5px 5px;
  text-align: center;
  border-top: 5px solid black;
}


/* MOBILE */

/* @media screen and (max-width: 800px) {
  .features{
    background: pink;
  }
}
@media screen and (max-width: 400px) {
  .features{
    background: red;
  }
} */
