/*
- NOTE cascading style sheet: can be overwritten at the bottom!
*/


/* BODY */

body{
  background:#FFFFF0;
  font-family: arial;
  position: absolute;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
  /* height: 100%; */
  width: 100%;
  /* margin-bottom: -20px; */
  display: block;
}

/* HEADER */

header {
  background-color: black;
  /* background-image: url("../images/background.webp"); */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 200%;
}

/* NAVIGATION */

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li{
  display: inline-flex;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

header nav a {
  color: white;
  font-family: didot;
}

header .logo a{
  background-image: url("../images/logo.png");
  background-size: 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 80px;
  display: inline-block;
  text-indent: -999999px;
  position: relative;
  top: -5px;
}


/* LINKS */
a {
  color: rgb(255, 208, 158);
  text-decoration: none;
  /* background-color: red; */
}
a:hover {
  text-decoration: underline;
}

/* HEADLINES */
h1, h2{
  text-align: center;
}

/* section */
section{
  /* background-color: green; */
  /* color: black; */
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
}

/* FEATURES */

.features {
  /* background-color: red; */
  color: #222;
  padding: 20px;
}

.features figure {
  width: 250px;
  /* background-color: blue; */
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  /* text-decoration-style: dotted; */
  color: #333;
}

.features figure img{
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: #333 0 0 10px;
  width: 250px;
}

/* FOOTER */

footer{
  background-color: black;
  color: gray;
  font-size: 15px;
  height: 20px;
  padding: 5px 5px;
  text-align: center;
}
